<%- include('../partials/header') %>

<div class="container">
    <h1 class="text-center h3 mb-3 font-weight-normal">
        Create a new Campground
    </h1>
    <div class="row">
        <div style="width: 30%; margin: 10px auto;">
            <form action="/campgrounds" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input
                        class="form-control"
                        type="text"
                        name="name"
                        placeholder="name"
                        required
                    />
                </div>

                <div class="form-group">
                    <label for="name">Price</label>
                    <input
                        class="form-control"
                        type="number"
                        min="1"
                        step="0.01"
                        name="price"
                        placeholder="price"
                        required
                    />
                </div>

                <div class="form-group">
                    <label for="name">Description</label>
                    <textarea
                        class="form-control"
                        name="description"
                        placeholder="description"
                        cols="30"
                        rows="10"
                        required
                    ></textarea>
                </div>

                <div class="form-group">
                    <label for="name">Image URL</label>
                    <input
                        class="form-control"
                        type="text"
                        name="image"
                        placeholder="image url"
                        required
                    />
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-block btn-primary">
                        Submit
                    </button>
                </div>
                <a href="/campgrounds">Go back</a>
            </form>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>
